@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  background-color: #171515;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-side {
  transition: all 0.25s linear;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
}

.back-side {
  transform: rotateY(180deg);
}
.card.comparison .front-side {
  transform: rotateY(180deg);
}
.card.comparison .back-side {
  transform: rotateY(0deg);
}
